<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="img/Arisu_(Maid).png"/>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center text-decoration-none"
           th:href="@{/torikago}">
            <div class="sidebar-brand-text mx-3">Torikago Shop</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            CRUD
        </div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/product-table}">
                <i class="fas fa-fw fa-box-open"></i>
                <span>Products</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Managers</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users-table}">
                <i class="fas fa-fw fa-user-shield"></i>
                <span>Users</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            </nav>
        </div>
        <div class="container-fluid">
            <div class="table-container" style="padding-bottom: 500px;">
                <h1 class="h3 mb-2 text-gray-800">Torikago Products</h1>
                <div class="card shadow mb-4">
                    <div class="d-flex justify-content-between card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary mt-2">All products</h6>
                        <form
                                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                       placeholder="Search for..."
                                       aria-label="Search" aria-describedby="basic-addon2" style="width: 300px;">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <a href="#" class="btn btn-primary btn-icon-split" data-toggle="modal"
                           data-target="#createModal">
                        <span class="icon text-white-50">
                             <i class="fas fa-plus"></i>
                        </span>
                            <span class="text">Create</span>
                        </a>
                    </div>
                    <form method="post" th:action="@{/admin/product-table}" th:object="${products}">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Image</th>
                                        <th>Price(VND)</th>
                                        <th>In stock</th>
                                        <th>On order</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${products}">
                                        <td th:text="${product.id}"></td>
                                        <td th:text="${product.productType}"></td>
                                        <td th:text="${product.productName}"></td>
                                        <td> <img th:src="@{${product.getMainImagePath()}}" alt="Product Image" width="100"/></td>
                                        <td th:text="${#numbers.formatDecimal(product.unitPrice, 0, 'WHITESPACE', 1, 'POINT')}"></td>
                                        <td th:text="${product.unitsInStock}"></td>
                                        <td th:text="${product.unitsOnOrder}"></td>
                                        <th th:text="${product.status}"></th>
                                        <th><a href="#" class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                            <span class="text">Edit</span>
                                        </a>
                                        </th>
                                        <th><a th:href="@{/admin/product-table/{productId}/delete(productId=${product.id})}" 
                                               class="btn btn-danger btn-icon-split"
                                               onclick="return confirm('Delete this product?')">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                            <span class="text">Remove</span>
                                        </a>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create New Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="text-center mb-4">
                        <a th:href="@{/admin/product-table/bird-cage/add}"
                           class="btn btn-success btn-icon-split btn-lg mb-2">
                            <span class="icon text-white-50">
                                <i class="fas fa-feather"></i>
                            </span>
                            <span class="text">Bird Cage</span>
                        </a>
                        <a href="#" class="btn btn-info btn-icon-split btn-lg mb-2">
                            <span class="icon text-white-50">
                                <i class="fab fa-envira"></i>
                            </span>
                            <span class="text">Accessory</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<div th:insert="~{admin-layout :: footer}"></div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>