<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="img/Arisu_(Maid).png"/>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center text-decoration-none"
           th:href="@{/torikago}">
            <div class="sidebar-brand-text mx-3">Torikago Shop</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            CRUD
        </div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/product-table}">
                <i class="fas fa-fw fa-box-open"></i>
                <span>Products</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Managers</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-user-shield"></i>
                <span>Users</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a class="dropdown-item" th:href="@{/logout}" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container-fluid">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12 col-md-9">
                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4" style="margin-top: 10px">Add New Bird Cage</h1>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 d-none d-lg-block">
                                        <div class="p-5">
                                        <div class="dashed-box" id="image-drop-area">
                                            <p>Drag & Drop or Click to Upload</p>
                                            <input th:field="*{product.image}" type="file" accept="image/png, image/gif, image/jpeg" id="file-input">
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            <form class="user" method="post"
                                                  th:action="@{/admin/product-table/bird-cage/add}">
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-user"
                                                           id="productName"
                                                           name="productName"
                                                           maxlength="80"
                                                           th:field="*{product.productName}"
                                                           placeholder="Enter Bird Cage Name">
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="fileInput"
                                                               >
                                                        <label class="custom-file-label" for="fileInput">Upload
                                                            Image</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="number"
                                                               class="form-control form-control-user"
                                                               id="unitPrice"
                                                               name="unitPrice"
                                                               placeholder="Enter Price"
                                                               th:field="*{product.unitPrice}">
                                                        <div class="input-group-append">
                                                            <span class="form-control form-control-user input-group-text">VND</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="hidden"
                                                           id="productType"
                                                           name="productType"
                                                           th:field="*{product.productType}">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-user"
                                                           id="unitsInStock"
                                                           name="unitsInStock"
                                                           maxlength="50"
                                                           placeholder="unitsInStock"
                                                           th:field="*{product.unitsInStock}">
                                                </div>
                                                <div class="form-group">
                                                    <input type="hidden"
                                                           id="unitsOnOrder"
                                                           name="unitsOnOrder"
                                                           th:field="*{product.unitsOnOrder}">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-user"
                                                           id="status"
                                                           name="status"
                                                           maxlength="50"
                                                           placeholder="status"
                                                           th:field="*{product.status}">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-user"
                                                           id="dimension"
                                                           name="dimension"
                                                           maxlength="50"
                                                           placeholder="Dimension"
                                                           th:field="*{birdCageDetail.dimension}">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-user"
                                                           id="cageShape"
                                                           name="cageShape"
                                                           maxlength="50"
                                                           placeholder="Cage Shape"
                                                           th:field="*{birdCageDetail.cageShape}">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-user"
                                                           id="barSpacing"
                                                           name="barSpacing"
                                                           maxlength="50"
                                                           placeholder="Bar Spacing"
                                                           th:field="*{birdCageDetail.barSpacing}">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-user"
                                                           id="birdWingSpan"
                                                           name="birdWingSpan"
                                                           maxlength="50"
                                                           placeholder="Bird Wing Span"
                                                           th:field="*{birdCageDetail.birdWingSpan}">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-user"
                                                           id="description"
                                                           name="description"
                                                           maxlength="200"
                                                           placeholder="Description"
                                                           th:field="*{birdCageDetail.description}">
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                                    Add Bird Cage
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</body>
<div th:insert="~{admin-layout :: footer}"></div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Get the dashed box element
    const dashedBox = document.getElementById("image-drop-area");

    // Get the file input element
    const fileInput = document.getElementById("file-input");

    // Add event listeners for drag and drop
    dashedBox.addEventListener("dragover", (e) => {
        e.preventDefault();
        dashedBox.classList.add("dragover");
    });

    dashedBox.addEventListener("dragleave", () => {
        dashedBox.classList.remove("dragover");
    });

    dashedBox.addEventListener("drop", (e) => {
        e.preventDefault();
        dashedBox.classList.remove("dragover");

        const files = e.dataTransfer.files;

        if (files.length > 0) {
            // Handle the dropped files (you can upload them here)
            handleFiles(files);
        }
    });

    // Add event listener for clicking the dashed box
    dashedBox.addEventListener("click", () => {
        fileInput.click();
    });

    // Add event listener for file input change
    fileInput.addEventListener("change", (e) => {
        const files = e.target.files;

        if (files.length > 0) {
            // Handle the selected files (you can upload them here)
            handleFiles(files);
        }
    });

    function handleFiles(files) {
        for (const file of files) {
            if (file.type.startsWith("image/")) {
                console.log("Uploading file:", file.name);
            } else {
                console.log("Unsupported file type:", file.type);
            }
        }
    }
</script>
</html>