<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center text-decoration-none"
           th:href="@{/torikago}">
            <img th:src="@{/img/torikago-logo.png}" alt="Logo" class="img-fluid sidebar-logo">
            <div class="sidebar-brand-text mx-3">Torikago Shop</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            CRUD
        </div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/product-table}">
                <i class="fas fa-fw fa-box-open"></i>
                <span>Products</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users-table}">
                <i class="fas fa-fw fa-user-shield"></i>
                <span>Users</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            </nav>
        </div>
        <div class="container-fluid">
            <div class="table-container" style="padding-bottom: 500px;">
                <div th:if="${param.success}" class="alert alert-success">
                    User information updated successfully.
                </div>
                <h1 class="h3 mb-2 text-gray-800">Torikago Users</h1>
                <div class="card shadow mb-4">
                    <div class="d-flex justify-content-between card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary mt-2">All Users</h6>
                        <form
                                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                       name="keyword"
                                       th:value="${keyword}"
                                       placeholder="Search for..."
                                       aria-label="Search" aria-describedby="basic-addon2" style="width: 300px;">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form method="post" th:action="@{/admin/users-table}" th:object="${users}">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>
                                            <a th:href="@{/admin/users-table(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                                User ID
                                                <span th:if="${sortField eq 'id'}"
                                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                                            </a></th>
                                        <th>
                                            <a th:href="@{/admin/users-table(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                                Name
                                                <span th:if="${sortField eq 'id'}"
                                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                                            </a></th>
                                        <th>
                                            <a th:href="@{/admin/users-table(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                                Email
                                                <span th:if="${sortField eq 'id'}"
                                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                                            </a></th>
                                        <th>Image</th>
                                        <th>
                                            <a th:href="@{/admin/users-table(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                                 Role
                                                <span th:if="${sortField eq 'id'}"
                                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                                            </a>
                                        </th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${usersPage}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.userName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td><img class="img-profile rounded-circle"
                                                 th:src="@{/img/undraw_profile.svg}" width="30"/></td>
                                        <td th:text="${user.role}"></td>
                                        <td th:text="${user.isEnabled()}"></td>
                                        <th><a th:href="@{'/users/edit/' + ${user.id}}"
                                               class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                            <span class="text">Edit</span>
                                        </a>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li th:class="${usersPage.first} ? 'page-item disabled' : 'page-item'">
                                <a th:if="${not usersPage.first}"
                                   th:href="@{/admin/users-table(pageNumber=1, sortField=${sortField}, sortDir=${sortDir})}"
                                   class="page-link" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(1, usersPage.totalPages)}"
                                th:class="${i == usersPage.number + 1} ? 'page-item active' : 'page-item'">
                                <a th:href="@{/admin/users-table(pageNumber=${i}, sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword!=null ? keyword : ''})}"
                                   class="page-link" th:text="${i}"></a>
                            </li>
                            <li th:class="${usersPage.last} ? 'page-item disabled' : 'page-item'">
                                <a th:if="${not usersPage.last}"
                                   th:href="@{/admin/users-table(pageNumber=${usersPage.totalPages}, sortField=${sortField}, sortDir=${sortDir})}"
                                   class="page-link" aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</body>
<div th:insert="~{admin-layout :: footer}"></div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>