<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Voucher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Create Voucher</h2>
    <form action="#" th:action="@{/manager/vouchers/new}" th:object="${voucher}" method="post">
        <div class="form-group">
            <label for="voucherName">Voucher Name:</label>
            <input type="text" class="form-control" id="voucherName" th:field="*{voucherName}" placeholder="Enter Voucher Name">
            <span th:if="${#fields.hasErrors('voucherName')}" th:errors="*{voucherName}">Error message</span>
        </div>
        <div class="form-group">
            <label for="voucherValue">Voucher Value:</label>
            <input type="number" class="form-control" id="voucherValue" th:field="*{voucherValue}" placeholder="Enter Voucher Value">
        </div>
        <div class="form-group">
            <label for="createdTime">Created Time:</label>
            <input type="datetime-local" class="form-control" id="createdTime" th:field="*{createdTime}">
        </div>
        <div class="form-group">
            <label for="expiredTime">Expired Time:</label>
            <input type="datetime-local" class="form-control" id="expiredTime" th:field="*{expiredTime}">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" th:field="*{status}">
                <option th:value="true">Active</option>
                <option th:value="false">Inactive</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>