<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Manager</title>
    <link rel="icon" type="image/x-icon" href="img/Arisu_(Maid).png"/>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center text-decoration-none"
           th:href="@{/torikago}">
            <div class="sidebar-brand-text mx-3">Torikago Shop</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/manager}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            CRUD
        </div>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-fw fa-boxes"></i>
                <span>Orders</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/manager/custom-orders}">
                <i class="fas fa-fw fa-box-open"></i>
                <span>Custom Orders</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-fw fa-envelope"></i>
                <span>Send Mail</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2" style="width: 300px;">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" >
                                <i class="fas fa-search fa-sm" ></i>
                            </button>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
        <div class="container-fluid">
            <div class="table-container" style="padding-bottom: 500px;">
                <h1 class="h3 mb-2 text-gray-800">Torikago Orders</h1>
                <div class="card shadow mb-4">
                    <div class="d-flex justify-content-between card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary mt-2">All orders</h6>
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                       name="keyword"
                                       th:value="${keyword}"
                                       placeholder="Search for..."
                                       aria-label="Search" aria-describedby="basic-addon2" style="width: 300px;">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form method="post" th:action="@{/manager/orders}">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>
                                            <a th:href="@{/manager/orders(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                                Order ID
                                                <span th:if="${sortField eq 'id'}"
                                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a th:href="@{/manager/orders(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                                Order Value(VND)
                                                <span th:if="${sortField eq 'id'}"
                                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a th:href="@{/manager/orders(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                                Payment Method
                                                <span th:if="${sortField eq 'id'}"
                                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                                            </a>
                                        </th>
                                        <th>Ordered Date</th>
                                        <th>
                                            <a th:href="@{/manager/orders(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                                Status
                                                <span th:if="${sortField eq 'id'}"
                                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                                            </a>
                                        </th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${ordersPage.content}">
                                        <td th:text="${order.id}"></td>
                                        <td th:text="${#numbers.formatDecimal(order.orderValue, 0, 'WHITESPACE', 1, 'POINT')}"></td>
                                        <td th:text="${order.paymentMethod}"></td>
                                        <td th:text="${#temporals.format(order.orderDate, 'dd-MM-yyyy')}"></td>
                                        <th th:text="${order.status}"></th>
                                        <th><a th:href="@{/manager/orders/{orderId}/edit(orderId=${order.id})}"
                                               class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                            <span class="text">Edit</span>
                                        </a>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li th:class="${ordersPage.first} ? 'page-item disabled' : 'page-item'">
                                <a th:if="${not ordersPage.first}"
                                   th:href="@{/manager/orders(pageNumber=1, sortField=${sortField}, sortDir=${sortDir})}"
                                   class="page-link" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(1, ordersPage.totalPages)}"
                                th:class="${i == ordersPage.number + 1} ? 'page-item active' : 'page-item'">
                                <a th:href="@{/manager/orders(pageNumber=${i}, sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword!=null ? keyword : ''})}"
                                   class="page-link" th:text="${i}"></a>
                            </li>
                            <li th:class="${ordersPage.last} ? 'page-item disabled' : 'page-item'">
                                <a th:if="${not ordersPage.last}"
                                   th:href="@{/manager/orders(pageNumber=${ordersPage.totalPages}, sortField=${sortField}, sortDir=${sortDir})}"
                                   class="page-link" aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</body>
<div th:insert="~{admin-layout :: footer}"></div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
</html>