<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="img/Arisu_(Maid).png"/>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center text-decoration-none"
           th:href="@{/torikago}">
            <img th:src="@{/img/torikago-logo.png}" alt="Logo" class="img-fluid sidebar-logo">
            <div class="sidebar-brand-text mx-3">Torikago Shop</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/manager}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            CRUD
        </div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/manager/orders}">
                <i class="fas fa-fw fa-boxes"></i>
                <span>Orders</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/manager/custom-orders}">
                <i class="fas fa-fw fa-box-open"></i>
                <span>Custom Orders</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/manager/vouchers}">
                <i class="fas fa-tag"></i>
                <span>Voucher</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text="${#authentication.name}"></span>
                            <img class="img-profile rounded-circle"
                                 th:src="@{/img/undraw_profile.svg}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/user/profile}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3">
            <div class="card card-body shadow">
                <div class="row">
                    <a th:href="@{/manager}" class="text-decoration-none"><h3 class="font-weight-bolder"><i class="far fa-edit"></i> Vouchers</h3></a>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   name="keyword"
                                   placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2" style="width: 300px;">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <a class="btn btn-primary ml-auto" th:href="@{/manager/vouchers/new}"><i class="far fa-edit"></i>
                        Create voucher</a>
                </div>
            </div>
            <div class="card card-body mt-3 shadow" style="padding-bottom: 800px;">
                <table class="table table-striped" id="dataTable">
                    <thead>
                    <tr>
                        <th>
                            <a th:href="@{/manager/vouchers(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                No
                                <span th:if="${sortField eq 'id'}"
                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                            </a></th>
                        <th>
                            <a th:href="@{/manager/vouchers(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                Name
                                <span th:if="${sortField eq 'id'}"
                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                            </a></th>
                        <th>
                            <a th:href="@{/manager/vouchers(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                Value (%)
                                <span th:if="${sortField eq 'id'}"
                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                            </a></th>
                        <th>
                            <a th:href="@{/manager/vouchers(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                Created Time
                                <span th:if="${sortField eq 'id'}"
                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                            </a>
                        </th>
                        <th>
                            <a th:href="@{/manager/vouchers(pageNumber=1, sortField='id', sortDir=${sortField eq 'id' and sortDir eq 'asc' ? 'desc' : 'asc'})}">
                                Expired Time
                                <span th:if="${sortField eq 'id'}"
                                      th:text="${sortDir eq 'asc' ? '↑' : '↓'}"></span>
                            </a>
                        </th>
                        <th>Status</th>
                        <th>Max Value</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="voucher : ${vouchers}">
                        <td th:text="${voucher.id}">ID</td>
                        <td th:text="${voucher.voucherName}"></td>
                        <td th:text="${#numbers.formatDecimal(voucher.getVoucherValue(), 0, 'POINT', 0, 'POINT')}+'%'"></td>
                        <td th:text="${#temporals.format(voucher.getCreatedTime(), 'yyyy-MM-dd')}"></td>
                        <td th:text="${#temporals.format(voucher.getExpiredTime(), 'yyyy-MM-dd')}"></td>
                        <td th:text="${voucher.status} "></td>
                        <td th:text="${'₫' +#numbers.formatDecimal(voucher.getMaxValue(), 0, 'POINT', 0, 'POINT')}"></td>
                        <th>
                            <a th:href="@{/manager/vouchers/edit/{id}(id=${voucher.id})}"
                               class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                <span class="text">Edit</span>
                            </a>
                        </th>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li th:class="${vouchers.first} ? 'page-item disabled' : 'page-item'">
                            <a th:if="${not vouchers.first}"
                               th:href="@{/manager/vouchers(pageNumber=1, sortField=${sortField}, sortDir=${sortDir})}"
                               class="page-link" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, vouchers.totalPages)}"
                            th:class="${i == vouchers.number + 1} ? 'page-item active' : 'page-item'">
                            <a th:href="@{/manager/vouchers(pageNumber=${i}, sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword!=null ? keyword : ''})}"
                               class="page-link" th:text="${i}"></a>
                        </li>
                        <li th:class="${vouchers.last} ? 'page-item disabled' : 'page-item'">
                            <a th:if="${not vouchers.last}"
                               th:href="@{/manager/vouchers(pageNumber=${vouchers.totalPages}, sortField=${sortField}, sortDir=${sortDir})}"
                               class="page-link" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</body>
<div th:insert="~{admin-layout :: footer}"></div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
</html>
