<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Torikago Shop</title>
    <link rel="icon" type="image/x-icon" href="img/Arisu_(Maid).png"/>
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
    <script>
        "use strict";
        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('cd5zcgtmmek9');
    </script>
</head>
<div th:insert="~{user-layout :: header}"></div>
<body class="bg-gray-200">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body p-5">
                            <img th:src="${product.getMainImagePath()}" class="img-fluid rounded" alt="Product Image">
                        </div>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h3 th:text="${product.productName}" class="mt-3"></h3>
                        <p href="" value="5" style="color: gold;">5.0★★★★★</p>
                        <div class="border-right pr-3">
                            <p class="text-muted mb-0">In stock <p class="font-weight-bold" th:text="${product.unitsInStock}"></p></p>
                        </div>
                        <div class="bg-gray-100">
                            <h2 th:text="'$'+ ${#numbers.formatDecimal(product.unitPrice, 0, 'COMMA', 0, 'POINT')}" class=""></h2>
                        </div>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
                <hr>
                <div class="col-md-12">
                    <label></label>
                    <div class="card-body p-5">
                        <div class="bg-gray-100">
                            <th:block th:utext="${product.birdCageDetail.description}" class="mb-3"></th:block>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card shadow">
        <div class="card-body p-5">
            <!-- Additional content goes here if needed -->
        </div>
    </div>
</div>
</body>
<div th:insert="~{user-layout :: footer}"></div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
</html>