<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Torikago Shop</title>
    <link rel="icon" type="image/x-icon" href="img/Arisu_(Maid).png"/>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <script>
        "use strict";
        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('cd5zcgtmmek9');
    </script>
</head>
<div th:insert="~{user-layout :: header}"></div>
<body class="bg-gray-200">
<section class="h-100 h-custom">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2">
                    <div class="vtrWey"></div>
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="p-3">
                                    <span class="text-primary py-3 ml-4"><i
                                            class="fas fa-map-marker-alt"></i> Delivery location</span>
                                    <div class="mt-2 ml-5">
                                        <p class="font-weight-bold"
                                           th:text="${user.getFname()+' '+user.getLname()}"></p>
                                        <p class="font-weight-bold" th:text="${user.phoneNumber}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="p-3 mt-4">
                                    <h3 class="font-weight-normal text-center"
                                        th:text="${user.address}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="h-100 h-custom mb-5">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="p-4 col-md-8">

                                <table class="table table-borderless table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <a class="text-decoration-none">
                                                    <h5 class="fw-none mb-0 text-black fw-bold">Product</h5>
                                                </a>
                                            </div>
                                        </th>
                                        <th></th>
                                        <th>
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <a class="text-decoration-none">
                                                    <h6 class="fw-none mb-0 text-black">Unit price</h6>
                                                </a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <a class="text-decoration-none">
                                                    <h6 class="fw-none mb-0 text-black">Quantity</h6>
                                                </a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <a class="text-decoration-none">
                                                    <h6 class="fw-none mb-0 text-black">Into money</h6>
                                                </a>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <th:block th:each="item, status : ${cartItems}"
                                              th:with="product = ${item.productId}">
                                        <tbody>
                                        <tr>
                                            <td><img th:src="@{${product.getMainImage()}}"
                                                     class="img-fluid rounded-2" alt="Product Image"
                                                     style="width: 50px; height: auto;"></td>
                                            <td>
                                                <a th:title="${product.productName}">
                                                    <h6 class="text-black mt-3"
                                                        th:text="${#strings.length(product.productName) > 30 ? #strings.substring(product.productName, 0, 30) + '...' : product.productName}"></h6>
                                                </a>
                                            </td>
                                            <td>
                                                <p class="mt-2">
                                                    [[${#numbers.formatDecimal(product.unitPrice, 0, 'POINT', 0,
                                                    'POINT')}]]₫</p>
                                            </td>
                                            <td><p class="mt-2" th:text="${item.quantity}"></p></td>
                                            <td>
                                                <p class="mt-2">
                                                    [[${#numbers.formatDecimal(item.getSubtotal, 0, 'POINT', 0,
                                                    'POINT')}]]₫</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </th:block>
                                </table>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-4">
                                    <h4 class="fw-bold mb-2 mt-2 pt-1">Summary</h4>
                                    <hr class="my-4">
                                    <h6 class="text mb-2">Voucher</h6>
                                    <div class="mb-2">
                                        <form method="get">
                                            <select class="form-select" id="shipping" name="shipping"
                                                    onchange="submitForm()">
                                                <option selected disabled style="display:none;">Choose</option>
                                                <option>Coupon 1</option>
                                                <option>Coupon 2</option>
                                            </select>
                                        </form>
                                    </div>
                                    <hr class="my-4">
                                    <div class="d-flex justify-content-between mb-2">
                                        <h6 class="text">Product price</h6>
                                        <h6 class="text-danger"
                                            th:text="${#numbers.formatDecimal(#aggregates.sum(cartItems.![getSubtotal()]), 0, 'POINT', 0, 'POINT')} + '₫'">
                                            ₫</h6>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="d-flex align-items-center">
                                            <h6 class="text">Shipping fee</h6>
                                            <div class="position-sticky ms-2 mb-2">
                                                <i class="fas fa-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Shipping fee will based on GHTK tariff."></i>
                                            </div>
                                        </div>
                                        <h6 class="text-danger" th:text="${#numbers.formatDecimal(shippingFee, 0, 'POINT', 0, 'POINT')} + '₫'">
                                            ₫
                                        </h6>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5 class="text-danger"
                                            th:text="${#numbers.formatDecimal(#aggregates.sum(cartItems.![getSubtotal()]) + shippingFee, 0, 'POINT', 0, 'POINT')} + '₫'">
                                            ₫</h5>
                                    </div>
                                    <a type="submit" class="btn btn-danger btn-block btn-md"
                                       data-mdb-ripple-color="dark"
                                       th:href="@{/torikago/payment/cod?amount={value}&shipping_Fee={shipFee}(value = ${#aggregates.sum(cartItems.![getSubtotal()])}, shipFee = ${shippingFee})}">
                                        <img th:src="@{/img/ghtk.png}" class="img-fluid rounded-2"
                                             alt="GHTK Image" style="width: 60px; height: auto;"/> Cash on delivery
                                    </a>
                                    <h5 class="text-center">or</h5>
                                    <a type="submit" class="btn btn-outline-primary btn-block btn-md"
                                       data-mdb-ripple-color="dark" th:href="@{/torikago/payment/vnpay}">
                                        <img th:src="@{/img/VNPAY-QR.webp}" class="img-fluid rounded-2"
                                             alt="VNPAY Image" style="width: 30px; height: auto;"/>
                                        Advance Payment
                                    </a>
                                    <p class="font-weight-lighter text-gray-700 mt-2"><em>*By placing an order, you have agreed to our terms and conditions.</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<div th:insert="~{user-layout :: footer}"></div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/https://code.jquery.com/jquery-3.6.4.min.js}"></script>
<script>
    function submitForm() {
        document.getElementById("sortForm").submit();
    }

    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
</html>