<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Torikago Shop</title>
    <link rel="icon" type="image/x-icon" href="img/Arisu_(Maid).png"/>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <script>
        "use strict";
        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('cd5zcgtmmek9');
    </script>
</head>
<div th:insert="~{user-layout :: header}"></div>
<body class="bg-gray-200">
<div id="wrapper">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center">
            <div th:if="${param.success}" class="alert alert-success">
                Successfully registered! Please check your email for verification.
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 carousel-image"
                             alt="Image 1" src="https://i.imgur.com/vHcaDtU.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-image" src="https://i.imgur.com/LYuE6uZ.jpg"
                             alt="Image 2">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-image" src="https://i.imgur.com/UyNN0uQ.jpg"
                             alt="Image 3">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-image" src="https://i.imgur.com/BXOyJna.jpg"
                             alt="Image 4">
                    </div>
                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mb-5 py-4 border-bottom-primary" style="margin-top: 20px">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center border-end">
                    <i class="far fa-check-circle"></i>
                    <label class="card-label">100% Genuine Products</label>
                </div>
                <div class="col-md-4 text-center border-end">
                    <i class="fas fa-headset"></i>
                    <label class="card-label">Personal assistant</label>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-truck-loading"></i>
                    <label class="card-label">Fast and on-time delivery</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="col-xl-12">
            <div class="row justify-content-end">
                <div class="col-xl-10">
                    <div class="card mb-3">
                        <div class="row">
                            <label class="col-md-2 text-center mt-4">Arrange by</label>
                            <div class="ml-1 mt-3 col-md-3">
                                <button type="submit" class="btn btn-primary ml-3">Latest</button>
                                <button type="submit" class="btn btn-primary ml-3">Popular</button>
                            </div>
                            <div class="ml-3 mt-3 col-md-2">
                                <button type="submit" class="btn btn-primary">Best Selling</button>
                            </div>
                            <div class="col-md-2 justify-content-lg-start p-3">
                                <form th:action="@{/torikago}" method="get" id="sortForm">
                                    <select class="form-select" id="price" name="priceSort" onchange="submitForm()">
                                        <option selected disabled style="display:none;">Price</option>
                                        <option value="lowPrice" th:selected="${sortField == 'unitPrice' && sortDir == 'asc'}">Low to High</option>
                                        <option value="highPrice" th:selected="${sortField == 'unitPrice' && sortDir == 'desc'}">High to Low</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 d-none d-md-block">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-filter"></i> Search Filter
                    </div>
                    <div class="card-body">
                        <!-- Add your filtering options here -->
                        <form>
                            <div class="mb-3">
                                <label for="category"><i class="fas fa-layer-group"></i> By Category</label>
                                <select class="form-select" id="category">
                                    <option value="all">All</option>
                                    <option value="electronics">Bird Cage</option>
                                    <option value="clothing">Accessory</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                            <hr class="text-gray-800">
                            <div class="mb-3">
                                <label><i class="fas fa-coins"></i> Price Range</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" id="priceFrom" placeholder="From"
                                               min="0">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" id="priceTo" placeholder="To" min="0">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Apply</button>
                            <hr class="text-gray-800">
                            <label>Review</label>
                            <div class="mb-3">
                                <div class="row" style="font-size: 16px;">
                                    <p href="" value="5"
                                       style="color: gold; display: inline-block; margin-right: 5px; vertical-align: middle;">
                                        (5 stars)★★★★★</p>
                                    <p value="4"
                                       style="color: gold; display: inline-block; margin-right: 5px; vertical-align: middle;">
                                        (4 stars)★★★★☆</p>
                                    <p value="3"
                                       style="color: gold; display: inline-block; margin-right: 5px; vertical-align: middle;">
                                        (3 stars)★★★☆☆</p>
                                    <p value="2"
                                       style="color: gold; display: inline-block; margin-right: 5px; vertical-align: middle;">
                                        (2 stars)★★☆☆☆</p>
                                    <p value="1" style="color: gold; display: inline-block; vertical-align: middle;">(1
                                        stars)★☆☆☆☆</p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-10 mt-2">
                <div th:if="${#lists.isEmpty(products.content)}" class="col-md-12 col-sm-12 text-center">
                    <i class="far fa-times-circle" style="font-size: 50px;"></i>
                    <h4 class="mt-3 mb-2">Oops! No products found.</h4>
                    <p class="text-muted">Try adjusting your search filters or explore our other amazing products.</p>
                </div>
                <div class="row row-cols-xl-4 row-cols-md-3 row-cols-2">
                    <div th:each="product, iterStat : ${products.content}" class="col-md-3 mb-3 gx-2"
                         th:if="${product.status}">
                        <div th:classappend="${iterStat.index > 0 and iterStat.index % 5 == 0}? 'first-in-row' : ''"
                             class="card product-card clickable-card d-flex flex-column"
                             onmouseover="hoverCard(this)"
                             onmouseout="unhoverCard(this)"
                             th:attr="data-id=${product.id}">
                            <a th:href="@{'/torikago/product/' + ${product.id}}" class="text-decoration-none">
                                <div style="height: 250px; overflow: hidden;">
                                    <img th:src="@{${product.getMainImage()}}" class="card-img-top"
                                         alt="Product Image"
                                         style="width: 100%; height: auto;">
                                </div>
                                <div class="card-body flex-column flex-grow-1">
                                    <h5 class="card-title" th:text="${product.productName}"
                                        style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></h5>
                                    <p class="card-text pl-2 row"
                                       th:text="' ₫'+ ${#numbers.formatDecimal(product.unitPrice, 0, 'POINT', 0, 'POINT')}"></p>
                                </div>
                                <div class="card-border"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li th:class="${products.first} ? 'page-item disabled' : 'page-item'">
                        <a th:if="${not products.first}"
                           th:href="@{/torikago(pageNumber=1, sortField=${sortField}, sortDir=${sortDir})}"
                           class="page-link" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, products.totalPages)}"
                        th:class="${i == products.number + 1} ? 'page-item active' : 'page-item'">
                        <a th:href="@{/torikago(pageNumber=${i}, sortField=${sortField}, sortDir=${sortDir}, keyword=${keyword!=null ? keyword : ''})}"
                           class="page-link" th:text="${i}"></a>
                    </li>
                    <li th:class="${products.last} ? 'page-item disabled' : 'page-item'">
                        <a th:if="${not products.last}"
                           th:href="@{/torikago(pageNumber=${products.totalPages}, sortField=${sortField}, sortDir=${sortDir})}"
                           class="page-link" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


</div>
</body>
<div th:insert="~{user-layout :: footer}"></div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function submitForm() {
        document.getElementById("sortForm").submit();
    }
</script>
<style>
    .card-label {
        font-size: 18px;
    }
    @media (max-width: 767px) {
        .card-label {
            font-size: 14px;
        }
    }
</style>
</html>