<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title layout:title-pattern="${CONTENT_TITLE + ' - ' + LAYOUT_TITLE}">Torikago Shop</title>
    <link rel="icon" type="image/x-icon" href="static/img/icon.png"/>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<div th:fragment="header">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <a class="sidebar-brand d-flex align-items-center justify-content-center text-decoration-none"
           th:href="@{/}">
            <div class="sidebar-brand-text mx-3">Torikago Shop</div>
        </a>
        <form th:action="@{/torikago}"
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="search" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2" name="search" th:value="${search}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="nav-link dropdown-toggle" th:href="@{/torikago/cart}" role="button">
                    <i class="fab fa-opencart"></i>
                    <span th:if="${cartItems}" class="badge badge-danger badge-counter" th:text="${#lists.size(cartItems)}"></span>
                </a>
            </li>
            <li class="nav-item dropdown no-arrow mx-1" th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-bell"></i>
<!--                    <span class="badge badge-danger badge-counter">3+</span>-->
                    <span id="notificationBadge" class="badge badge-danger badge-counter">3+</span>
                </a>
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        <i class="far fa-bell"></i> Notifications
                    </h6>
                    <a th:if="${session.changePasswordSuccess}" class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-key text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500" th:text="${#temporals.format(session.changePasswordTime, 'yyyy-MM-dd HH:mm')}"></div>
                            <span class="font-weight-bold" th:text="${session.changePasswordSuccess}"></span>
                        </div>
                    </a>
                    <a th:if="${session.updateProfileSuccess}" class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-id-card text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500" th:text="${#temporals.format(session.updateInformationTime, 'yyyy-MM-dd HH:mm')}"></div>
                            <span class="font-weight-bold" th:text="${session.updateProfileSuccess}"></span>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Clear All Notifications</a>
                </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li th:if="${#authorization.expression('!isAuthenticated()')}" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a></li>
            <li th:if="${#authorization.expression('!isAuthenticated()')}" class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.name}"></span>
                    <img class="img-profile rounded-circle"
                         th:src="@{/img/undraw_profile.svg}">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{/profile}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" th:href="@{/admin}">
                        <i class="fas fa-solid fa-user-tie fa-sm fa-fw mr-2 text-gray-400"></i>
                        Admin Dashboard
                    </a>
                    <a class="dropdown-item" th:if="${#authorization.expression('hasAuthority(''MANAGER'')')}" th:href="@{/manager}">

                        <i class="fas fa-solid fa-user-shield fa-sm fa-fw mr-2 text-gray-400"></i>
                        Manager Dashboard
                    </a>
                    <a class="dropdown-item" th:if="${#authorization.expression('hasAuthority(''CUSTOMER'')')}" href="/customer">
                        <i class="fas fa-solid fa-user-shield fa-sm fa-fw mr-2 text-gray-400"></i>
                        Customized Product
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-solid fa-receipt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Order
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<body id="page-top" th:fragment="body">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">

    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>
<div class="d-flex flex-column min-vh-90" th:fragment="footer">
    <section class="py-5 bg-dark" style="margin-top: auto;">
        <div class="container px-5 my-5">
            <h2 class="display-4 fw-bolder mb-4 text-white">Let's shop!</h2>
            <a class="btn btn-lg btn-primary" href="#!">Contact Us</a>
        </div>
    </section>
    <footer class="bg-white py-4">
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto">
                        <div class="small m-0 text-dark">Copyright &copy; Torikago 2023</div>

                    </div>
                    <div class="col-auto">
                        <a class="link-dark small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-dark small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-dark small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
    </footer>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script th:inline="javascript">
    var showNotification = [[${session.Attribute('notificationMessage')}]];

    window.onload = function () {
        if (showNotification && !localStorage.getItem('notificationClosed')) {
            document.getElementById('alertsDropdown').style.display = 'block';
        }
    };
</script>
</html>