<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Torikago Shop</title>
    <link rel="icon" type="image/x-icon" th:src="@{/img/Arisu_(Maid).png}"/>
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
    <script>
        "use strict";
        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('cd5zcgtmmek9');
    </script>
</head>
<div th:insert="~{user-layout :: header}"></div>
<body class="bg-gray-200">
<div class="container mt-3 mb-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-xl-3">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="card">
                        <a class="nav-link " th:href="@{/user/profile}" id="userDropdown">
                            <img class="img-profile rounded-circle w-25"
                                 th:src="@{/img/undraw_profile.svg}">
                            <span class=" d-none d-lg-inline text-gray-600 small"
                                  th:text="${#authentication.name}"></span>
                        </a>
                    </div>
                    <h5 class="font-weight-bold text-primary mt-4">
                        <i class="far fa-user-circle"></i>
                        Account
                    </h5>
                    <ul class="list-group">
                        <li class="list-group-item text-gray-700" href="">
                            <i class="fas fa-key"></i>
                            <a class="text-decoration-none" th:href="@{/user/profile/password}">Change Password</a>
                        </li>
                        <li class="list-group-item text-gray-700">
                            <i class="fas fa-receipt"></i>
                            <a class="text-decoration-none" th:href="@{/user/purchase}">Order History</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 mb-4">
            <div class="card shadow">
                <div class="card-body p-5">
                    <div class="text-left">
                        <h1 class="h4 text-gray-900 mb-4"><i class="fas fa-user-cog"></i> Account Information</h1>
                    </div>
                    <div th:if="${param.success}" class="alert alert-success">
                        Information Updated
                    </div>
                    <hr>
                    <form class="user" method="post" role="form" th:action="@{/profile}" th:object="${user}">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{role.id}"/>
                        <div class="form-group row">
                            <label class="col-4 col-form-label"></label>
                            <div class="col-8">
                                <input type="hidden"
                                       id="Enabled" th:field="*{enabled}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label"></label>
                            <div class="col-8">
                                <input type="hidden"
                                       id="password" th:field="*{password}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label class="text-gray-600">User Name</label>
                                <input type="hidden"
                                       id="userName" th:field="*{userName}"
                                       th:text="*{userName}">
                            </div>
                            <div class="col-sm-6">
                                <label class="text-gray-600">Email</label>
                                <input type="hidden"
                                       id="email" th:field="*{email}"
                                       th:text="*{email}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label class="text-gray-600">First Name</label>
                                <input type="text"
                                       class="form-control form-control-user text-gray-900"
                                       id="fname"
                                       name="fname"
                                       th:field="*{fname}"
                                       placeholder="First Name"
                                       maxlength="80">
                                <p th:if="${#fields.hasErrors('fname')}" class="text-danger"
                                   th:errors="*{fname}"></p>
                            </div>
                            <div class="col-sm-6">
                                <label class="text-gray-600">Last Name</label>
                                <input type="text"
                                       class="form-control form-control-user text-gray-900"
                                       id="lname"
                                       name="lname"
                                       th:field="*{lname}"
                                       placeholder="Last Name"
                                       maxlength="40">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-gray-600">Address</label>
                            <input type="text"
                                   class="form-control form-control-user text-gray-900"
                                   id="address"
                                   name="address"
                                   th:field="*{address}"
                                   placeholder="Address">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="text-gray-600">Phone Number</label>
                                <input type="tel"
                                       class="form-control form-control-user text-gray-900"
                                       id="phoneNumber"
                                       name="phoneNumber"
                                       th:field="*{phoneNumber}"
                                       placeholder="Phone Number">
                                <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger"
                                   th:errors="*{phoneNumber}"></p>
                            </div>
                            <div class="gender-options col-sm-6" style="margin-top: 45px">
                                <label class="text-gray-600">Gender </label>
                                <label for="male">
                                    <input type="radio"
                                           name="gender"
                                           id="male"
                                           value="true"
                                           th:field="*{gender}"> Male
                                </label>
                                <label for="female">
                                    <input type="radio"
                                           name="gender"
                                           id="female"
                                           value="false"
                                           th:field="*{gender}"> Female
                                </label>
                                <p th:if="${#fields.hasErrors('gender')}" class="text-danger"
                                   th:errors="*{gender}"></p>
                            </div>

                            <div class="gender-options col-sm-6" style="margin-top: 12px"
                                 th:each="role: ${listRoles}">

                                <label th:if="${role.name == 'USER'}">
                                    <input type="hidden"
                                           id="user"
                                           value="USER"
                                           th:field="*{role.name}">
                                </label>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user">
                            Save
                        </button>
                        <button class="btn btn-primary btn-user" type="reset">
                            Cancel
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<div th:insert="~{user-layout :: footer}"></div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
</html>