<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Voucher List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Voucher List</h2>
<table>
    <tr>
                <th>ID</th>
        <th>Voucher Name</th>
        <th>Voucher Value</th>
        <th>Created Time</th>
        <th>Expired Time</th>
        <th>Status</th>
    </tr>
    <tr th:each="voucher : ${vouchers}">
                <td th:text="${voucher.id}">ID</td>
        <td th:text="${voucher.voucherName}">Voucher Name</td>
        <td th:text="${voucher.voucherValue}">Voucher Value</td>
        <td th:text="${voucher.createdTime}">Created Time</td>
        <td th:text="${voucher.expiredTime}">Expired Time</td>
        <td th:text="${voucher.status} ">Status</td>
        <td>
            <a th:href="@{/vouchers/edit/{id}(id=${voucher.id})}">Update</a>
            <a th:href="@{/vouchers/delete/{id}(id=${voucher.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>

